{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "es6": true,
        "commonjs": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "semi": ["error", "always"]
    }
}